<div class='row'>
    <div class="input-group col-md-3 search-margin">
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]='listFilter' placeholder="Search for...">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
        </div><br/>
        <button (click)="toggle($clickMe)">sort by name</button>
    </div>
</div>
<hr/>
<div class="plp-grid">
    <section class="plp-grid" infinite-scroll
                    [infiniteScrollDistance]="1 "
                    [infiniteScrollUpDistance]="1"
                    [infiniteScrollThrottle]="500"
                    (scrolled)="onScrollDown()"
                    (scrolledUp)="onScrollUp()">
        <ul class="row plp-ul">
            <li class="plp-list prod-holder col-md-4 col-xs-6 col-lg-4" style="height:330px" *ngFor="let product of (products ? products.slice(0,16): []) | productFilter:listFilter">
                <div class="prod-visual-section item product-tile">
                    <img [src]='product.imageUrl' [title]='product.productName' [style.width.px]='imageWidth' [style.height.px]='imageHeight'
                    [style.margin.px]='imageMargin' />
                <div class="row product-details">
                     <div class="brandname">{{product.productName}}</div>
                    <div class="branddesc">{{product.description}}</div>
                    <div class="productprice">{{product.price | currency:'USD': true:'1.2-2'}}</div>
                    <div class="star">
                        <show-star [rating]='product.starRating' (ratingClicked)='onRatingClicked($event)'></show-star>
                    </div>
                </div>
                </div>
            </li>
            <li class="plp-list prod-holder col-md-4 col-xs-6 col-lg-4" style="height:330px" *ngFor="let product of (data ? data.slice(16,26): []) | productFilter:listFilter">
                <div class="prod-visual-section item product-tile">
                <img [src]='product.imageUrl' [title]='product.productName' [style.width.px]='imageWidth' [style.height.px]='imageHeight'
                    [style.margin.px]='imageMargin' />
                <div class="row product-details">
                     <div class="brandname">{{product.productName}}</div>
                    <div class="branddesc">{{product.description}}</div>
                    <div class="productprice">{{product.price | currency:'USD': true:'1.2-2'}}</div>
                    <div class="star">
                        <show-star [rating]='product.starRating' (ratingClicked)='onRatingClicked($event)'></show-star>
                    </div>
                </div>
                </div>
            </li>
        </ul>
    </section>
</div>

